/* UsefulAddresses.css */
.address-container { 
        background-image: url("../../Assets/backaddress.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 100vh; /* Adjust the height as needed */
        position: relative;
        z-index: 1;
}
.address-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Optional: add overlay color */
    z-index: -1;
}
.address-content{
    margin-top:170px;
}
.adresses-utiles-titre {
    margin-top: 20px;
    color: #ffffff;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.adress-card {
    background-color: rgba(0, 0, 0, 0.1) ;
    border-radius: 5px;
}
