/* video.css */

/* Style for the video section */
.video-section {
  margin: 150px;
  background-color: white;
  padding: 70px ;
  border-radius: 50px;
}
.video-section:hover {
  margin: 150px;
  background-color: white;
  padding: 70px ;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.8);
  transition:ease-in-out 0.3s;
  
}

/* Style for the video player container */
.video-player-container {
  position: relative;
  width: 720px;
  margin: 0 auto;
}

/* Style for the video player controls */
.video-player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.video-player-controls button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
}

.video-player-controls button:hover {
  background-color: #0056b3;
}

.video-player-controls input[type="range"] {
  width: 200px;
}

.video-page-title {
  
  text-align: center;
  margin: 20px;
}

.video-page-description {
  text-align: center;
  margin-bottom: 40px;
}

.video-title{
  text-align: center;
  margin-top: 20px;
}

.video-description {
  text-align: center;
  margin-top: 10px;
}
