/* Blog.css */

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300;400;700&display=swap');


.subtitle {
  font-size: 0.85rem;
  font-weight: 700;
  margin: 0;
  color: #1792d2; /* Bright blue for subtitles */
  letter-spacing: 0.05em;
  font-family: 'Ubuntu Bold', sans-serif;
}

.blog-article-title {
  font-size: 1.5rem;
}

.blog-article-read-more,
.blog-article-info {
  font-size: .875rem;
}

.blog-article-read-more {
  color: #1792d2; /* Bright blue for read more links */
  text-decoration: none;
  font-weight: 700;
}

.blog-article-read-more:hover,
.blog-article-read-more:focus {
  color: #143774; /* Dark blue on hover/focus */
  text-decoration: underline;
}

.blog-article-info {
  margin: 2em 0;
}

.button-add-post {
  margin-bottom: 2em;
  width: 100%;
  background-color: #044b71; /* Bright blue background */
  color: white;
  border-radius: 15px;
  border-color: transparent;
  padding: 1em;
  font-family: raleway;
  font-size: 1.1em;
}

.blog-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-form div {
  margin: 10px;
}

.blog-form label {
  display: block;
  margin-bottom: 5px;
}

.blog-form input,
.blog-form textarea {
  width: 80%;
  padding: 8px;
  margin-bottom: 1em;
  border-radius: 15px;
}

.blog-form button {
  background-color: #28a745; /* Green background for submit button */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.blog-container {
  background-color: rgba(255,255,255,0.4); /* White background for the blog container */
  padding: 3em;
  border-radius: 50px;
  margin-bottom: 50px;
  width: 75vw;
}

.blog-container-flex {
  max-width: 75vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  display: block;
}

.blog-article-body {
  width: 100%;
  text-align: justify;
}

.blog-sidebar {
  max-width: 23%;
}

/* Responsive Design */
@media (max-width: 1050px) {
  .blog-container-flex {
    flex-direction: column;
  }

  .site-title, .subtitle {
    width: 100%;
  }

  main {
    max-width: 100%;
  }

  .blog-sidebar {
    max-width: 100%;
  }
}

/* Articles */
.blog-article-featured {
  border-bottom: #707070 1px solid;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.blog-article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.blog-article-recent-main {
  order: 2;
}

.blog-article-recent-secondary {
  order: 1;
}

@media (min-width: 675px) {
  .blog-article-recent {
    flex-direction: row;
    justify-content: space-between;
  }

  .blog-article-recent-main {
    width: 68%;
  }

  .blog-article-recent-secondary {
    width: 30%;
  }
}

/* Sidebar */
.blog-sidebar-widget {
  margin-bottom: 2em;
}

.blog-widget-title {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.blog-widget-image {
  margin-bottom: 1em;
}

.blog-widget-body {
  font-size: 1rem;
  color: #707070;
}

.blog-widget-recent-post {
  margin-bottom: 1.5em;
}

.blog-widget-recent-post-title {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}
