/* styles.css */


body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
[theme='dark'] {
  --background-color: black;
  --text-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  overflow-x: auto;
}


.header.hidden {
    top:-14em;
    transition: top 0.3s ease-in-out;
    display: none;
  }

  .navbar.hidden {
    top:-14em;
    transition: top 0.3s ease-in-out;
    left: 0;
    right: 0;
    padding: 0rem  !important;
    font-size: 1.1rem !important;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    background-position: top center;
    margin-top: 3.313em;
    z-index: 7000;

  }

  
  
  
  
  /* --------- */
  /*  Preloader */
  /* --------- */
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #ececec; 
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #preloader-none {
    opacity: 0;
  }
  
  #no-scroll {
    overflow: hidden;
    height: 100vh;
  }
  
  /* --------- */
  /*Scrollbar   */
  /* --------- */
  
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #a79896;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(241, 238, 243, 0.959);
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #978a88;
    border-radius: 12px;
  }
  /* --------- */
  /* Header  */
  /* --------- */  
  .header.scrolled {
    position: fixed !important;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0.625em 1.25em;
    background-color: rgba(0,0, 0, 0.8);
    backdrop-filter: blur(2px);
    font-size: 0.9em;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out; /* Transition for hiding/showing */
    z-index: 7000;
    font-family: raleway;
  }

  .header.visible {
    position: fixed !important;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0.625em 1.25em;
    background-color: transparent;
    backdrop-filter: blur(2px);
    font-size: 0.9em;
    color: white;
    transition: all 0.3s ease-in-out; /* Transition for hiding/showing */
    z-index: 7000;
    font-family: raleway;
  }
  
  /* Sticky class when header should be hidden */
  
  .header-links a,
  .header-controls span,
  .header-controls a {
    margin-right: 0.938em;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .header-links a:hover,
  .header-controls :hover{
    text-decoration: underline;
  }
  .header-icons a {
    margin-right: 0.625em;
    color: rgb(255, 255, 255);
  }
  
  .header-controls {
    display: flex;
    align-items: center;
  }
  
  .header-icons {
    display: flex;
    align-items: center;
  }
  
  .header-controls span,
  .header-controls svg,
  .header-controls a {
    cursor: pointer;
  }
  
  .header svg {
    font-size: 1.2em;
  }
  
  .header span:last-child {
    font-size: 1em;
    margin-left: 0.625em;
  }
  
  @media (max-width: 768px) {
    .header.visible{
      background-color: rgba(0, 0, 0, 0.8);
    }
    .header-links a,
  .header-controls span,
  .header-controls a {
    display: none;
  }
  }

  /* --------- */
  /* Navbar Section  */
  /* --------- */
  
  .search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;

  }
  
  .search-dropdown form {
    padding: 0.625em;
    display: flex;
    align-items: center;

  }
  
  .search-dropdown .suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 12.5em;
    overflow-y: auto;
    border-top: 1px solid #ccc; /* Add a top border for separation */
    width: 100%; /* Ensure the list spans the width of the dropdown */
    transition: top 0.3s ease-in-out;
  }
  
  .search-dropdown .suggestions-list li {
    padding: 0.625em;
    cursor: pointer;
  }
  
  .search-dropdown .suggestions-list li:hover {
    background-color: #f0f0f0;
  }
  

  .navbar-brand {
    color: rgb(250, 250, 250) !important;
    margin-right: auto; /* Pushes other nav items to the right */
    
}
#navbar{
  width: 100%;
}  

.navbar.scrolled {
  width: 100%;
  display: flex;
  margin-top: 2.75em;  
  transition: all 0.3s ease-in-out;
  left: 0;
  right: 0;
  padding: 0rem  !important;
  font-size: 0.9em !important;
  font-family: raleway;
  background-color: rgba(0, 0, 0, 0.8);
  background-position: top center;
  z-index: 7000;
  border-bottom: 2px solid white;
}


  .navbar.visible {
    width: 100%;
    display: flex;
    position:fixed !important;
    top: 0;
    left: 0;
    right: 0;
    padding: 0rem  !important;
    font-size: 0.9em !important;
    font-family:raleway;
    background-color: transparent;
    background-position: top center;
    transition: all 0.3s ease-in-out;
    margin-top: 3.32em;  
    z-index: 7000;
  }
  
  .navbar-toggler {
    position: relative !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
  
  .navbar-toggler span {
    width: 100vh;
    display: block !important;
    background-color: #ffffff !important;
    height: 0.25em !important;
    width: 1.688em !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    transform: rotate(0deg) !important;
    left: 0 !important;
    opacity: 1 !important;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0 !important;
  }
  
  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
    transition: transform 0.35s ease-in-out !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(135deg) !important;
    opacity: 0.9 !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px !important;
    visibility: hidden !important;
    background-color: transparent !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(-135deg) !important;
    opacity: 0.9 !important;
  }
  
  @media (max-width: 768px) {
    .navbar-hidden{
      position: fixed !important;
    }
    .navbar.visible {
      width: 100%;
    display: flex;
    position:fixed !important;
    top: 0;
    left: 0;
    right: 0;
    padding: 0rem  !important;
    font-size: 1.4em !important;
    font-family:raleway;
    background-color: rgba(0, 0, 0, 0.8);
    background-position: top center;
    transition: all 0.3s ease-in-out;
    margin-top: 1.75em;  
    z-index: 7000;
    }
    
  
    .navbar-nav .nav-item a::after {
      width: 100vh;
      display: none !important;
    }
  }
  .navbar-brand {
    color: rgb(250, 250, 250) !important;
  }
  
  .logo {
    height:4rem !important;
    width:12rem  !important;
    align-items: left;
  }
  
  .navbar-nav .nav-link {
    color: white !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  
  .nav-link {
    padding: 0.8rem 1rem !important;
  }
  
  @media (max-width: 768px) {
    .nav-link {
      
      padding: 0.7rem 1rem !important;
    }
  }
  
  .navbar-nav .nav-item {
    position: relative;
    margin-left: 1.25em;
  }
  
  .navbar-nav .nav-item a {
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
    position: relative;
    z-index: 1;
  }
  
  .navbar-nav .nav-item a::after {
    content: "";
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
   
    bottom: 1px;
    left: 0;
    z-index: 7000;
    transition: all 0.3s ease-out 0s;
  }
  
 
  
  /* Dropdown Menu Styles */
  .navbar-nav .dropdown-menu {
    background-color:rgba(0, 0, 0, 0.8);
    color: white !important;
  }
  
  .navbar-nav .dropdown-item {
    color: white !important;
  }
  
  .navbar-nav .dropdown-item:hover,
  .navbar-nav .dropdown-item:focus {
    background-color: #474747;
  }
  
  .navbar-nav .nav-link.dropdown-toggle::after {
    margin-left: 0.5rem;
    color: white;
  }
  
  
  /* --------- */
  /* Home section */
  /* --------- */
  
  #tsparticles {
    position: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
  }
  .home-chiffre{
    text-align: center;
    font-size: 3em;
    font-family: 'Times New Roman';
    margin-bottom:2.5em;
    z-index: 1;
    color: white;
  }
  .statistics-section {
    position: relative;
    text-align: center;
    margin-top: 2em;
    overflow: hidden;
    padding: 2em;
    border-top: 5px solid #3d5ccd !important;
    border-bottom: 5px solid #3d5ccd !important;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(50px); /* Apply blur to the background color */
  }
  
  .statistics-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./Assets/chiffre.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    mix-blend-mode: multiply;
    z-index: -1;
  }
  
  .stat-circle {
    position: relative;
    background:linear-gradient(from top, to bottom, rgba(0, 0, 0, 0.5));
    color: #fff;
    font-size:2rem;
    margin-bottom: 2em;    
    font-weight: bold;
    border-radius: 50%;
    width: 52.5vh; /* Définir une largeur fixe */
    height: 52.5vh; /* Définir une hauteur fixe */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;
    transition:all ease-in-out 0.7s;
  }
  .stat-circle:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.75);
    scale: 1.15;
  }
  .stat-number {
    font-size:2.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .home-intro {
    font-size:11em;
  }
  .home_img {
    position: relative;
    top: -30px;
    width: auto; /* 100% of viewport width */
    height: 100%; /* 100% of viewport height */
    overflow: hidden; /* Ensures no scrollbars appear */ 
  }
  .home_img::before{
    position:absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* Adjust the alpha value for more or less tint */
    z-index: 2;
  }
  
  .imgh{
    position: relative;
    left: 0;
    width: 100vw; /* 100% width of parent (.component-wrapper) */
    height: 100vh; /* 100% height of parent (.component-wrapper) */
    object-fit: cover; /* Ensures image covers entire area */
  }
  .overlay-home {
    
    width: 100vw;
    height: auto;
    position: absolute;
    top: 50%;
    left:0;
    padding: 20px !important;
    max-width: 100%;
    z-index: 888;
  }
  @media (max-width: 768px) {
    .home_img{
      border-radius: 0;
      width: 100vh;
    }
    .overlay-home{
      width: 100vh;
      height: auto;
    }
    .home-section{
      position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    overflow: hidden;
    }
  }
  .overlay-home h1{
    font-family: raleway;
    font-weight: bold;
    font-size:5rem;
    color: white;
    text-align: left;
    margin-left: 1.25em;
  }
  .overlay-home p{
    font-family: raleway;
    font-size: 20px;
    text-align:justify ;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    overflow: hidden;
  }

  .home-section {
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 20px !important;
    padding-top: 30px !important;
    overflow: hidden;

  }

  
  
  .home-about-section {
    position: relative;
    width: 80%;
    padding-bottom: 70px !important;
    padding-top:70px !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
    color:black;
    text-align: left;
    font-size:1.2rem;
  }
  
  @media (max-width: 768px) {
    .home_img {
      width: 100vw; /* Full viewport width */
      height: 50vh; /* Adjust height */
    }
  
    .overlay-home {
      width: 100vh ; /* Adjust width for smaller screens */
      height: auto; /* Adjust height */
      top: 70%; /* Adjust position */
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px; /* Reduce padding */
      border-radius: 30px 0 0 30px; /* Adjust border radius */
    }
  
    .overlay-home h1 {
      font-size: 3rem; /* Reduce font size */
      margin-left: 10px; /* Adjust margin */
    }
  
    .overlay-home p {
      font-size: 16px; /* Reduce font size */
      margin-left: 5px; /* Adjust margin */
      padding-right: 10px; /* Reduce padding */
      padding-left: 10px; /* Reduce padding */
    }
  
    .home-section {
      padding-bottom: 10px !important; /* Adjust padding */
      padding-top: 20px !important; /* Adjust padding */
    }
  
    .home-about-section {
      width: 100%; /* Full width */
      padding-bottom: 30px !important; /* Adjust padding */
      padding-top: 30px !important; /* Adjust padding */
      padding-right: 20px !important; /* Adjust padding */
      padding-left: 20px !important; /* Adjust padding */
      font-size: 1rem; /* Adjust font size */
    }
  }

  
  
  
  
  /*Footer */

/* Reset default margin and padding */

/* General anchor tag styling */


/* Footer container styling */


.footer {
background-image:url("Assets/backfooter.jpg") !important;
  color: #fff;
  font-family: raleway;
}

.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}

.footer-wave-path {
  fill: #ffffff;
}

/* Footer content styling */
.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

/* List styling for footer menu links */
.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

/* Footer logo styling */
.footer-logo-link {
  display: block;
  
}
.footer-lg{
  width: 14em;
  height: 10em;
  align-items: center;
}
.footer-partner{
  display: block;
  width: 12em;
  height: auto;

  
}
.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}

.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Footer call to action button styling */
.footer-call-to-action-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.button:last-of-type {
  margin-right: 0;
}

.footer-call-to-action-button {
  background-color: #00072d;
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;
  cursor: pointer;
  position: relative;
}

.footer-call-to-action {
  margin-top: 30px;
}

.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}

/* Footer social links styling */
.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #00072d;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
  color: white;
  height:3.5em;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill .2s;
}

/* Individual social media link positions (not used, but kept for reference) */
.footer-social-link.spotify {
  height: auto;
  left: 0;
  top: 9px;
  width: 5.1em;
}

.footer-social-link.instagram {
  height: auto;
  left: 54px;
  width: 6.2em;
}

.footer-social-link.youtube {
  height: auto;
  left: 119px;
  top: 10px;
  width: 5em;
}

.footer-social-link.facebook {
  height: 34px;
  left: 173px;
  top: 9px;
  width: 5em;
}

/* Footer copyright styling */
.footer-copyright {
  background-color: #00072d;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

/* Media Query for different screens */
@media (min-width: 320px) and (max-width: 479px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width: 480px) and (max-width: 599px) { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width: 600px) and (max-width: 800px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width: 801px) { /* tablet, landscape iPad, lo-res laptops and desktops */
  /* Additional styles can be added here */
}

@media (min-width: 1025px) { /* big landscape tablets, laptops, and desktops */
  /* Additional styles can be added here */
}

@media (min-width: 1281px) { /* hi-res laptops and desktops */
  /* Additional styles can be added here */
}

@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}

@media (min-width: 568px) {
  /* .footer-content-column {
    width: 49.99%;
  } */
}

  
  


